<html>

<head>
    <meta charset="utf-8" />
    <script src="../angular.min.js"></script>
</head>

<body ng-app>
    <h1>04 Visibilidade de Elementos</h1>
    <p>Apresentando o <em>ng-if</em>, o <em>ng-show</em> e o <em>ng-hide</em>.</p>
    <hr />

    <p>
        <input id=chk type="checkbox" ng-model="chk" />
        <label for="chk">Mostrar/Esconder elementos</label>
    </p>

    <h3>ng-if</h3>

    <div style="width: 200px; height: 100px; background-color: yellow;" ng-if="chk">
        <p>Agora você me vê!</p>
    </div>

    <h3>ng-show</h3>

    <div style="width: 200px; height: 100px; background-color: aqua;" ng-show="chk">
        <p>Agora você me vê!</p>
    </div>

    <h3>ng-hide</h3>

    <div style="width: 200px; height: 100px; background-color: lime" ng-hide="chk">
        <p>Agora você me vê!</p>
    </div>
</body>

</html>